<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>React Boilerplate</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <% if (process.env.NODE_ENV === 'production') { %>
      <link rel='stylesheet' type='text/css' href="<%- webpack.stylesGlobal %>">
      <link rel='stylesheet' type='text/css' href="<%- webpack.stylesLocal %>">
    <% } %>
</head>

  <body>

    <% if (process.env.NODE_ENV === 'development') { %>
      <div id="app"></div>
      <script src="http://localhost:3001/bundle.js"></script>
    <% } %>

    <% if (process.env.NODE_ENV === 'production') { %>
      <div id="app"><%- app %></div>
      <script src="<%- webpack.vendor %>"></script>
      <script src="<%- webpack.bundle %>"></script>
    <% } %>

  </body>
</html>
